@media (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .nav-list-item {
        width: 100%;
        text-align: center;
    } 
}