/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Font */
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
/* Header section */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    /* margin: 8px 0; */
    background-color: #f5f5f5;
    box-shadow: 6px 2px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-logo {
    padding: 12px;
    margin: 4px 0;
    display: flex;a
    justify-content: center;
    align-items: center;
}

.header-logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #289672;
}

.nav {
    display: flex;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.nav-list-item{
    padding: 12px;
    border-radius: 8px;
    background-color: #289672;
}
.nav-list li {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.nav-list-item:hover{
    background-color: #1a664a;
}

main {
    position: absolute;
    width: 100%;
    padding-top: calc(106px + 1rem);
    /* min-height: 1200px; */

}

.product {
    min-height: 1200px;
    background-color: #f5f5f5;
    padding: 24px;
    text-align: center;
}

.product-list {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.product-item {
    width: 300px;
    height: 400px;
    background-color: #289672;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: auto;
}

.product-item img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.product-item, .product-item img {
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2));
}

.product-item-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.product-item-name {
    text-transform: uppercase;
    color: #f5f5f5;
    text-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.product-item-description {
    color: #f5f5f5;
    text-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
