/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Font */
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
/* Header section */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin: 8px 0;
    box-shadow: 6px 2px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-logo {
    padding: 12px;
    margin: 4px 0;
    display: flex;a
    justify-content: center;
    align-items: center;
}

.header-logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #289672;
}

.nav {
    display: flex;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.nav-list-item{
    padding: 12px;
    border-radius: 8px;
    background-color: #289672;
}
.nav-list li {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.nav-list-item:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
}

main {
    position: absolute;
    width: 100%;
    margin-top: 116px;
    /* min-height: 1200px; */
    z-index: -1;
}

.product {
    height: 2400px;
}